streamlit
langchain
langchain-community
langchain-huggingface
faiss-cpu
pydantic
sentence-transformers
huggingface-hub
python-dotenv
tiktoken
numpy
torch --index-url https://download.pytorch.org/whl/cpu
langchain-groq
torchvision